
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.navbar-brand {
	img {
		width: 60px;
		margin-top: -10px;
	}
}

.list-group-item {
	color: black;
}

a {
	color: #4C0EB5;
}

.panel-heading > a {
	color: #FFEF14;
}

button, html input[type="button"], 
	input[type="reset"], 
	input[type="submit"] {
	color: $brand-blue;
}

.well {
	background-color: transparent;
}

.easy-autocomplete-container {
	color: $brand-blue;
}